:root {
    --darkCyan: hsl(185, 75%, 39%);
    --darkerGrayishBlue: hsl(229, 23%, 23%);
    --darkGrayishBlue: hsl(227, 10%, 46%);
    --lightGrayishColor: hsl(225, 10%, 92%);
    --grey: hsl(227, 10%, 46%);
}